nav{
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
li {
  float: left;
}
  
li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

a:visited {
  color:lightpink;
  background-color: transparent;
  text-decoration: none;
  text-decoration: underline;
}
  
li a:hover {
  background-color:darkorange;
}

.active {
  background-color: orangered;
}

nav#skip a {
  position: absolute;
  left: -9999px
}

nav#skip a:focus {
  position: static;
  background-color: white;
}
main{
  margin: auto;
  background-color: black;
  color:white;
  width: 88%;
  padding: 40px;
  }
body{
  background-image: url(media/orange.png);
  background-size: cover;
}
cite{
  font-style: italic;
}

td{
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  width:auto;
  max-width:200px;
}

table{
  margin-top: 20px;
  border-style: ridge;
  border-width: 150px;
}

table, th, td{
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
/* .center {
  margin-left: 60px;
  margin-right: auto;
} */

img {
  border: 2px solid #C0C0C0;
  padding: 3px;
}

h2{
  margin-top: 100px;
}

video {
  width: 100%;
  max-width: 100%;
}

/* a:visited {
  color:lightpink;
  background-color: transparent;
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */