body, p, main{
  font-family: Arial;
}

.controls button[data-state="subtitles"] {
  height:85%;
  text-indent:0;
  font-size:16px;
  font-size:1rem;
  font-weight:bold;
  color:#666;
  background:#000;
  border-radius:2px;
}

h1, h2, h3, h4, h5, h6  {
  font-family: Helvetica
}

nav{
  display: flex;
  justify-content: space-evenly;
}
form {
  text-align: center;
}
.radios{
  padding-left: 45%;

  text-align: left;
}

.formtext{
  text-align: center;
}
.legendstable{
  border: 1px solid white;
  margin: 0 auto; 
  width: 95%;
}

.legendsrating{

  border: 1px solid white;
  margin: 0 auto; 
  width: 50%;
}
.legendata{
  border: 1px solid white;
  margin: 0 auto; 
}

#toggle{
  border: 2px solid  orangered ;
  background-color:black;
  color: orangered;
  float:right;
}

#review{
  width:60%;
  height: 10em; 
  line-height: 1.5em ;
  resize: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
li {
  float: left;
}
  
li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

a:visited {
  color:lightpink;
  background-color: transparent;
  text-decoration: none;
  text-decoration: underline;
}
  
li a:hover {
  background-color:darkorange;
}

.active {
  background-color: orangered;
}

nav#skip a {
  position: absolute;
  left: -9999px;

}

nav#skip a:focus {
  position: static;
  color: black;
  background-color: orangered;
}
main{
  margin: auto;
  background-color: black;
  color:white;
  width: 88%;
  padding: 40px;
  }
body{
  background-image: url(media/orange.png);
  background-size: cover;
}
cite{
  font-style: italic;
}

td{
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  width:auto;
  max-width:200px;
  border: 1px solid white;
}

table{
  margin-top: 20px;
  border-style: ridge;
  border-width: 150px;
}

table, th, td{
  padding: 10px;
  border: 1px solid white;
  border-collapse: collapse;
}
/* .center {
  margin-left: 60px;
  margin-right: auto;
} */

img {
  border: 2px solid #C0C0C0;
  padding: 3px;
}

h2{
  margin-top: 100px;
}

video {
  width: 100%;
  max-width: 100%;
}

.ftext{
  color: black;
}

meter::-webkit-meter-optimum-value {
  background: red; 
}

/* a:visited {
  color:lightpink;
  background-color: transparent;
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */